<div class="container">
  <h1>Chris Cates</h1>
  <h2>I write high performance Go, Java and C.</h2>
  <div class="social">
    <a href="https://github.com/ChrisCates" href="_blank">
      <i class="fa fa-github"></i> @ChrisCates
    </a>
    <a href="https://facebook.com/itsChrisCates" href="_blank">
      <i class="fa fa-facebook"></i> @itsChrisCates
    </a>
    <a href="mailto:hello@chriscates.ca" href="_blank">
      <i class="fa fa-envelope-o"></i> hello@chriscates.ca
    </a>
  </div>
  <h3 class="margin">Cool Projects I'm working on:</h3>
  <a href="https://github.com/ChrisCates/gocrawl" target="_blank"><h3>GoCrawl</h3></a>
  <p class="margin">A pragmatic and fast way to crawl Common Crawl with Golang.</p>
  <a href="https://github.com/ChrisCates/TaskGopher" target="_blank"><h3>TaskGopher</h3></a>
  <p class="margin">The CLI tool for running lots of tasks parallel.</p>
  <a href="https://github.com/ChrisCates/SafariQL" target="_blank"><h3>SafariQL</h3></a>
  <p class="margin">A Go based query language for memory efficient CSV parsing.</p>
</div>
